body {
    font-family: Arial, sans-serif;
    background-image: url('https://raw.githubusercontent.com/Samuel095383/afhijashdfkashfiuo/refs/heads/main/4.png'); /* Sostituisci con l'immagine di sfondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.buttons a:hover {
    opacity: 0.8;
}
